.footer {
  display: flex;
  flex-direction: column;
}
.copyright {
  background-color: #ec2127;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.5em 0;
}
.content {
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row-reverse; */
  border-top: 1px solid #2a2929;
  padding: 12px 0;
  gap: 8px;
}
.disclaimer span {
  font-size: 11px;
  text-align: center;
  display: block;
  /* text-align-last: justify; */
}
.linkButtons {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 12px;
}
.icons {
  height: 33px;
  width: 33px;
  position: relative;
  border: 1px solid #2a2929;
  border-radius: 4px;
  background-color: #1a1a1a;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.icons img {
  box-sizing: border-box;
  object-fit: contain;
  padding: 8px;
}
@media (min-width: 768px) {
  .disclaimer span {
    font-size: 13px;
  }
  .icons {
    width: 40px;
    height: 40px;
    transition: all 0.4s cubic-bezier(0.68, -0.85, 0.27, 1.85);
  }
  .icons:hover {
    background-color: #2a2a2a;
    transform: scale(1.1);
  }
}
