.headBanner {
  width: 100%;
  height: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ec2127;
}
.banner {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.container{
  position: sticky;
  top: 0;
  z-index: 1;
}