.imgContainer {
  position: fixed;
  bottom: 10dvh;
  right: 5dvw;
  z-index: 2;
}
.imgNew {
  position: relative;
  height: 50px;
  width: 50px;
  animation: move 3s infinite ease alternate;
}
.imgContainer img {
  box-sizing: border-box;
  object-fit: contain;
}
@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}
