.page {
  position: relative;
}

.mainContent {
  padding: 0 min(5vw, 20px);
  min-height: 71dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backButton {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.itemDetail {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  width: min(90vw, 600px);
  text-align: center;
  border-radius: 12px;
  position: relative;
}
.img {
  position: relative;
  scale: 0.8;
  height: 300px;
  width: 100%;
}
.itemInfo {
  color: #fff;

  padding: 3rem;
}

.itemTitle {
  font-size: 3rem;
  font-weight: 600;
  color: #ec2127;
  line-height: 1.2;
}

.itemDescription {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}

.itemMeta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}
.itemMeta img {
  height: auto;
  width: auto;
}

.categoryName {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
}

.itemIndex {
  font-size: 1rem;
  color: #ec2127;
  font-weight: 600;
}
@media (min-width: 768px) {
  .itemDescription {
    font-size: 16px;
  }
}
.cakeIndex {
  background-color: #000000;
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: Outfit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
